

    
    .background-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('./gallery/background.jpg') center center fixed;
      background-size: cover;
      z-index: -1;
    }

    .background-container::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.514); 
    }


.navbar {
  background-color: #0000003d; 
  border: none; 
  padding-bottom: 40px;
}

    .navbar-brand {
  
  padding-top: 15px; 
  
  
}

.navbar-brand img {
  max-height: 90px; 
  width: auto; 
  margin-right: 10px; 
}


.navbar-nav > li > a {
  font-weight: bold;
  color: rgb(165, 165, 165) !important;
  margin-top: 20px;
  margin-left: 30px;
  transition: color 0.3s, border-bottom 0.3s, font-size 0.3s;
  text-decoration: none;
  position: relative;
  padding: 15px 5px; 
  
}

.navbar-nav > li.active > a,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  color: rgb(255, 255, 255) !important;
  font-size: 18px;
}

.navbar-nav > li > a:hover,
.navbar-nav > li.active > a {
  background-color: #ffffff0e !important;
}

.navbar-nav > li > a::before,
.navbar-nav > li.active > a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d3b404;
  transition: width 0.3s;
}

.navbar-nav > li > a:hover::before,
.navbar-nav > li.active > a::before {
  
  width: 100%;
}

.navbar-fixed-bottom {
  position: fixed;
  bottom: 5px;
  width: 100%;
  background-color: #0000009a; 
  color: white; 
}

.big-text {
  text-align: center;
  color:rgba(255, 255, 255, 0.76);
  font-size: 10vw; 
  font-weight: bold;
  margin-top: 20vh;
  font-family: 'Rock Salt', cursive;
}


@media (max-width: 767px) {
  
}

.dropdown-menu {
  background-color: rgba(255, 254, 254, 0.055);
}

.dropdown-menu li a {
  color: #ffffff; 
}

.Tekst{
  text-align: center;
  color:rgba(255, 255, 255, 0.76);
  font-size: 10vw;
  font-weight: bold;
  margin-top: 20vh;
  font-family: 'Rock Salt', cursive;
}

.Naslovi{
  color: white;
}

.obicantekst{
  color: rgb(179, 179, 179);
  background-color: #000000a9;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 100px;
}

.navbar-solid {
  background-color: #000000bd; 
}

.footer-solid {
  background-color: #000000bd;
  color: white; 
}

.uvecana-slika{
  width: 30%;
  margin: auto;
  display: block;
  transition: transform 0.4s cubic-bezier(.17,.67,.83,.67);
  margin-bottom: 10px;
}

.uvecana-slika:hover{
  transform: scale(1.5);
}

.galerija {
  width: 300px;
  height: 200px;
  margin: auto;
  display: inline-block;
  transition: transform 0.4s cubic-bezier(.17,.67,.83,.67);
  margin-bottom: 10px;
  object-fit: cover; 
}

.galerija:hover {
  transform: scale(1.5);
}

.gallery-item {
  display: inline-block;
  margin-right: 20px;
  width: 30%;
}


@media (max-width: 768px) {
  .galerija {
    width: 100%; 
    height: auto;
  }

  .gallery-item {
    width: 100%;
    margin-right: 0; 
  }
}


.containerMenu{
  margin-top: 200px;
  margin-left: 50px;
  margin-bottom: 100px;
}

.MenuSlike {
  width: 20vw;
  max-width: 20vw;
  height: auto;
  border: 2px solid rgb(0, 0, 0);
}



.containerMenu h4{
  color: rgb(226, 228, 216);
  font-weight: bold;
  font-family: Cormorant Garamond;
  text-align: centetr;
  font-size: large;
}

.containerMenu p{
  color: rgb(219, 199, 170);
  
  font-family: Cormorant Garamond;
  text-align: justify;
  font-size: large;
  margin-left: 20px;
  margin-right: 100px;
  font-style: italic;
  
}

.background-containerMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./gallery/ingredients-cooking-pasta-wooden-background.jpg') center center fixed;
  background-size: cover;
  z-index: -1;
}

.media-body strong {
  color: rgb(226, 228, 216);
  font-weight: bold;
  font-style: normal; 
  
}